<h1 mat-dialog-title *ngIf="data.new">New task</h1>
<h1 mat-dialog-title *ngIf="!data.new">Edit task</h1>
<div mat-dialog-content>
  <!-- Decription field -->
  <mat-form-field appearance="outline">
    <mat-label> Task description </mat-label>
    <textarea matInput [(ngModel)]="data.task.description" required></textarea>
  </mat-form-field>
  <br />

  <!-- Group button field -->
  <mat-button-toggle-group
    #group="matButtonToggleGroup"
    [(ngModel)]="data.task.color"
  >
    <mat-button-toggle *ngFor="let color of labelOptions" [value]="color">
      <mat-icon [ngClass]="color">{{
        color === 'gray' ? 'check_circle' : 'lens'
      }}</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div mat-dialog-actions>
  <!-- Add buttons -->
  <button
    mat-button
    color="accent"
    [disabled]="isEmptyDescription()"
    *ngIf="data.editMode"
    (click)="onAdd()"
  >
    ADD
  </button>

  <!-- Edit buttons -->
  <button
    mat-button
    color="accent"
    [disabled]="false"
    *ngIf="!data.editMode"
    (click)="onUpdate()"
  >
    SAVE
  </button>
  <button
    mat-button
    color="warn"
    [disabled]="false"
    *ngIf="!data.editMode"
    (click)="onDeletion()"
  >
    DELETE
  </button>

  <button mat-button (click)="onNoClick()">CANCEL</button>
</div>
