<h1 mat-dialog-title>
  {{ data.isNew ? 'New board' : 'Raname' }}
</h1>
<div mat-dialog-content>
  <p>
    {{'Choose the new name for this board'}}
  </p>
  <mat-form-field appearance="outline">
    <mat-label>Board's name</mat-label>
    <input matInput [(ngModel)]="data.board.title" required />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">CANCEL</button>
  <button
    mat-button
    color="accent"
    [matDialogClose]="data.board"
    [disabled]="data.board.title.trim().length === 0"
  >
    {{ data.isNew ? 'CREATE' : 'SAVE' }}
  </button>
</div>
